.navit {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: #EFF2FF;
  text-align: start;

}

.padright{
  padding-right: 2vw;
}

.padleft{
  padding-left: 4vw;
}

.navit__link {
  margin: 1em;
  font-size: 1.2vw;
  font-family: 'Roboto', sans-serif;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: .3em;
  text-indent: .3em;
  color: #181818;
  border-bottom: 3px solid transparent;
}

.navit__link:hover {
  transform: translateY(-2px);
  text-decoration: none;
}

.navit__link--active {
  border-bottom: 3px solid #29b6f6;
  transition: border-bottom .5s ease-in-out;
}

.responsive {
  width: 20%;
  height: 20%;

}
.responsive-wide {
  width: 40%;
  height: 20%;
}
